@page "/browse"
@using System.Net
@inject HttpClient Http
@inject NavigationManager navigationManager
@* @page "/" burde redirect til page "/browse"* *@


<PageTitle>ProjectBank - Browse</PageTitle>

    @if (keywords == null)
    {
       <h1>Loading...</h1> 
    }else{
        <div class="grid-container">
            @foreach (var keyword in keywords)
            {
                <button class="grid-item" @onclick="(() => redirectToSwipePage(keyword.Word))" >@keyword.Word</button>
            }

        </div>
    }

@code{

    private KeywordDto[]? keywords;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            keywords = await Http.GetFromJsonAsync<KeywordDto[]?>("/api/Keyword");
        }
        catch(AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void redirectToSwipePage(string keyword)
    {
        navigationManager.NavigateTo("swipe/"+keyword);
    }

}
