@page "/account/claims"
@using System.Security.Claims
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Claims</PageTitle>

<h1>Claims</h1>

<p>@_message</p>

@if (_claims.Any())
{
    <table class="table table-striped" style="color: white">
        <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var claim in _claims)
        {
            <tr style="color: white">
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private string _message = string.Empty;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private ClaimsPrincipal? _user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;

        if (_user.Identity?.IsAuthenticated == true)
        {
            _message = $"You are logged in as: {_user.Identity.Name}.";
            _claims = _user.Claims;
        }
        else
        {
            _message = "The user is NOT authenticated.";
        }
    }
}