@inject HttpClient _http
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject ProjectStateChanged _projectsChanged; //forsøg

<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="Logo_white_projectBank.png" height="50" width="150" alt=""/></a>
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">

                </NavLink>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/browse" Match="NavLinkMatch.All">
                        <span class="oi oi-globe" aria-hidden="true"></span> Browse
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="search">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/myprofile">
                        <span class="oi oi-person" aria-hidden="true"></span> My Profile
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/createproject">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Create project idea
                    </NavLink>
                </div>
                @if (_role == "supervisor")
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/createproject">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Not visible for student
                        </NavLink>
                    </div>
                }
            </nav>
        </div>
        <hr id="nav_line">
        <br>
        <div class="favoriteList">
    
            @if (_projectsChanged.Projects != null)
            {
                @foreach (var favorite in _projectsChanged.Projects)
                {
                    <ul @onclick="() => NavigateToFavorite(favorite)">@favorite</ul>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="Logo_white_projectBank.png" height="50" width="150" alt=""/></a>
                <NavLink class="nav-link" href="/">
                </NavLink>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/">
                        <span class="oi oi-globe" aria-hidden="true"></span> Browse
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Settings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Create project idea
                    </NavLink>
                </div>
            </nav>
        </div>
        <hr id="nav_line">
        <br>
    </NotAuthorized>
</AuthorizeView>

@code { 
    private string? _role;
    
    protected override async Task OnInitializedAsync()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        if (user.Identity?.IsAuthenticated == true)
        {
            var _name = user.Identity?.Name;
            _role = user.FindFirst(c => c.Type.Contains("appRole"))?.Value;
            var _user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
            var aToken = user.FindFirst(c => c.Type.Contains("aud"))?.Value;

            try { 
                var account = await _http.GetFromJsonAsync<AccountDetailsDto>("api/Account/"+aToken);
                if (account != null)
                {
                    _projectsChanged.SetList(account.SavedProjects);
                }
            } catch {
                if (aToken != null && _name != null){
                    var _account = new AccountCreateDto{
                        AzureAAdToken = aToken,
                        Name = _name
                    };
                    var response = await _http.PostAsJsonAsync("api/Account",_account);
                }
            }
            _projectsChanged.OnChange +=(()=>ChangeState());

        }
    }

    private async void ChangeState()
    {
        await InvokeAsync(StateHasChanged);
    }

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private async Task NavigateToFavorite(string favorite)
    {
        try{
            var project = await _http.GetFromJsonAsync<IReadOnlyCollection<ProjectDetailsDto>>("/api/Project/"+favorite);
            if (project != null)
            {
                _navigationManager.NavigateTo("/projects/" + project.ElementAt(0).Id);
            }
        } catch {
            _navigationManager.NavigateTo("/", true);
        } 
    }
}