.navbar-toggler{
    background: none;
    outline: none;
    border: none;
    
}

.top-row {
    height: 3.5rem;
    background: none;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.mobile_logout{
    display: none;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.favoriteList{
    background:none;
    width: 15em;
    height: 22em;
    overflow-x: hidden;
    overflow-y: auto;
}

.favoriteList::-webkit-scrollbar-track {
    background-color: #181818;
}

.favoriteList::-webkit-scrollbar-thumb {
    background-image: linear-gradient(10deg, #fd297b, #ff655b);
    border-radius: 7px;
}

.favoriteList ul{
    color: #d7d7d7;
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 2px;
}

.favoriteList ul:hover{
    color: #fff;
}

@media(max-width: 767.99px){
    .favoriteList{
        display: none;
    }
    
    .navbar-brand{
        height: 33%;
        width: 33%;
    }

    #nav_line{
        display: none;
    }

    .nav-item:last-of-type {
        padding-bottom: 0.2rem;
    }

    .top-row {
        height: 2rem;
        background: none;
    }
    
    .mobile_logout{
        display: block;
    }
    
    
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) and (max-width: 991.99px){
    .favoriteList{
        display: none;
    }
    .navbar-brand{
        height: 4em;
        width: 10em;
    }
    #nav_line{
        display: none;
    }
    .nav-item:first-of-type{
        padding-top: 1.5rem;    
    }
    
    .nav-item:last-of-type {
        padding-bottom: 0.2rem;
    }
    .top-row {
        height: 3rem;
        background: none;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 992px) and (max-width: 1199.97px){
   
}

/*Large devices (tablets, landscape view)*/
@media (max-width: 1199.98px){
    
}

@media (min-width: 1200px){
    
} 