<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="Logo_white_projectBank.png" height="75%" width="75%"/></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Browse
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account/settings">
                <span class="oi oi-pencil" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>
<hr>
<br>
<div class="favoriteList" >
    @if (favorites == null)
    {
        
    }else{
        @foreach (var favorite in favorites)
        {
            <ul onclick="window.open(https://youtube.com)">@favorite</ul>   
        }
    }
</div>

@code {
    private string[]? favorites = {"Test", "Fun", "øl-tid"}; @*Skal blive til en liste af projecter hvor liked = true*@



    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    

}
