.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
.grid-item {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  height: 220px;
  border-radius: 10px;
  word-break: normal;
  transition: all 0.25s ease;
}

.grid-item:hover{
    transition-delay: 0.25s;
    background: linear-gradient(10deg, #fd297b, #ff655b);
    color: white;
    box-shadow: 5px 7px #dcd8d8;
  }
  
.aligner{
  display: flex;
}
  
  .browse_all{
    position: absolute;
    color: #d7d7d7;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  
  .browse_all_btn{
    width: fit-content;
    background: none;
    border: none;
    color: #d7d7d7;
    text-decoration: underline;
    transition: all 0.25s ease;
  }
  
  .browse_all_btn:hover{
    color: #ffffff;
  }
  
  .filter_browse{
    display: flex;
    justify-items: right;
    justify-content: right;
    margin-right: 20px;
  }
  
  .align-right{
    display: flex;
    justify-content: right;
    justify-items: right;
    margin-right: 20px;
  }
  
  .dropdown_menu_filter_browse{
    right: 0;
    background-color: #ffffff;
    color: #1e2125;
    height: fit-content;
    width: 130px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .drop_filter_content_browse{
    padding-left: 5px;
  }
  
  .mobile_filter_btn{
    display: none;
    text-align: center;
    color: #1e2125;
    background-color: white;
    border-radius: 5px;
    height: 2em;
    width: 5.5em;
    padding: 0;
    outline: none;
    margin: 0;
    border: none;
    font-size: 15pt;
  }

@media (max-width: 575.98px){
  .grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .grid-item{
    height: 5em;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20pt;
    padding: 0;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px){
  .grid-container{
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .grid-item{
    height: 5em;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20pt;
    padding: 0;
  }
  #Browse_all_text{
    display: none;
  }
  
  .browse_all{
    display: flex;
    margin-left: 5%;
  }
  
  .browse_all_btn{
    display: block;
    color: #1e2125;
    background-color: white;
    border-radius: 5px;
    height: 2em;
    text-decoration: none;
    width: 5.5em;
    font-size: 15pt;
  }
  
  .desktop_filter_btn{
    display: none;
  }
  
  .mobile_filter_btn{
    display: block;
  }
  
}

/*Medium devices (tablets, portrait view )*/
@media (max-width: 991.98px){
  .grid-container{
    grid-template-columns: 50% 50%;
  }
  .grid-item{
    font-size: 18pt;
  }
}

/*Large devices (tablets, landscape view)*/
@media (max-width: 1199.98px){

}


