.overlay span{
    position: relative;
    top: 40%;
}

.overlay{
    display: block;
    height: inherit;
    width: inherit;
    border-radius: 10px;
    font-size: 0;
    transition: all 0.25s ease;
}

.overlay:hover{
    cursor: pointer;
    background: rgb(000, 000, 000, 80%);
    text-align: center;
    font-size: inherit;
}