.profile_info{
    display: flex;
}

.picture_container{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.profile_pic, .profile_no_pic{
    height: 150px;
    width: 150px;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
}

.profile_contact_info{
    position: relative;
    display: block;
    width: fit-content;
    margin-left: 10px;
    font-size: 15pt;
}

#MyProfile_line{
    margin-top: 20px;
    margin-bottom: 20px;
}

.my_project_options{
    display: flex;
    justify-content: right;
    justify-items: right;
}

.my_project_options label{
    margin-right: 1em;
}

@media(max-width: 767.99px){
   #profile_h3, #myproject_h3{
       font-size: 15pt;
   }
   
    .picture_container{
        height: 5em;
        width: 5em;
    }
    
    .profile_no_pic, .profile_pic{
        height: 5em;
        width: 5em;
    }

    .profile_contact_info{
        font-size: 10pt;
    }
    
    #myprojects_table_title, #MyProject_title{
        font-size: 10pt;
    }
    
    .my_project_options{
        margin-top: 0.5em;
    }
    
    .my_project_options label{
        font-size: 10pt;
    }
}

/*Small devices (landscape phones, and portrait tablets)*/
@media (min-width: 768px) and (max-width: 991.99px){
    #profile_h3, #myproject_h3{
        font-size: 20pt;
    }

    .picture_container{
        height: 7em;
        width: 7em;
    }

    .profile_no_pic, .profile_pic{
        height: 7em;
        width: 7em;
    }

    .profile_contact_info{
        font-size: 15pt;
    }

    #myprojects_table_title, #MyProject_title{
        font-size: 15pt;
    }

    .my_project_options{
        margin-top: 0.5em;
    }

    .my_project_options label{
        font-size: 15pt;
    }
}

/*Medium devices (tablets, landscape view )*/
@media (min-width: 992px) and (max-width: 1199.97px){
}
@media (min-width: 1200px) {

}