
.searchBar_wrapper{
    position: fixed;
    display: flex;
    width: 50%;
    height: 55px;
    top: 10%;
    left: 35%;
    align-self: auto;  
}

.searchBar{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
}

input[type=text]{
    padding: 10px;
    font-size: medium;
}

.btn_search{
    position: relative;
    height: 50px;
    width: 50px;
    border-left: 1 #212121;
    border-bottom: none;
    border-top: none;
    border-right: none;
    background-color:#fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}