.search_container{
    position: relative;
    left: 19%;
    
}
.searchBar{
    position: relative;
    padding: 0;
    width: 50%;
    height: 50px;
    margin: 0;
    background-color: #fff;
    border: none;
    outline: none;
    
}

input[type=text]{
    padding: 10px;
    font-size: medium;
}

.btn_search{
    position: relative;
    height: 50px;
    width: 50px;
    left: -3px;
    border: none;
    background-color:#fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown_menu_filter{
     position: relative;
     background: white;
     color: #1a1e21;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     width: 120px;
     height: fit-content;
     right: 1px;
     top: 1px;
 }
.drop_filter_content{
    margin-left: 10px;
    margin-right: 10px;
}
.filter_btn{
    position: relative;
    height: 50px;
    width: 70px;
    right: 1px;
    border: none;
    background-color:#fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.5s ease;
}

.close_filter{
    background: none;
    border: none;
    float: right;
}



.clear_filter{
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #5c636a;
    text-decoration: underline;
}

.clear_filter:hover{
    color: #1a1e21;
}

.project_center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.project_builder_search{
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;
    height: fit-content;
    width: 600px;
}
.project_builder_search .project_search_content{
    color: #1a1e21;
    margin-left: 15px;
    padding-top: 5px;
    text-align: left;
    font-size: 12px;
}

.project_builder_search .project_search_content #project_search_title{
    font-size: 20px;
    margin: 0;
}

.project_builder_search .project_search_content #search_supervisor{
    color: #505052;
    margin: 0;
    padding: 0;
}

.project_builder_search .project_search_content #search_supervisor x{
    cursor: pointer;
    transition: all 0.25s ease;
}

.project_builder_search .project_search_content #search_supervisor x:hover{
    color: #1a1e21;
    text-decoration: underline;
}

.project_search_content hr{
    background-color: #1a1e21;
    padding: 0;
    margin-left: 8%;
}

.project_builder_search .project_search_content .like_star{
    position: relative;
    float: right;
    padding-top: 5px;
    margin-right: 15px;
}

.project_builder_search .project_search_content .like_star .star_checkbox{
    display: none;
}

.project_builder_search .project_search_content .like_star .oi-star{
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease;
}

.star_checkbox:not(:checked) ~ .oi-star:hover{
    color: #8a3530;
}

.star_checkbox:checked ~ .oi-star {
    color: #ff655b;
}

.project_builder_search .project_search_content .project_search_description{
    height: 120px;
    width: 570px;
    resize: none;
    background: none;
    border: none;
    outline: none;
    overflow-x: hidden;
}

.project_builder_search .project_search_content .project_search_keywords{
    height: 80px;
    width: 570px;
    resize: none;
    background: none;
    border: none;
    outline: none;
    overflow-x: hidden;
}

.project_builder_search .project_search_content .see_more, .close_more{
    position: relative;
    float: right;
    padding-right: 10px;
    color: #505052;
    cursor: pointer;
    transition: all 0.25s ease;
}
.project_builder_search .project_search_content .see_more:hover, .close_more:hover{
    color: #1a1e21;
    text-decoration: underline;
}

.to_top_button{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    background-color: #d7d7d7;
    color: #1a1e21;
    cursor: pointer;
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    transition: all 0.25s ease;
}

.to_top_button:hover{
    background-color: #ffffff;
}

