#GoBack_btn{
    background: none;
    position: absolute;
    font-size: 20px;
    float: top;
    border: none;
    z-index: 100000;
}

#GoBack_btn label{
    cursor: pointer;
    color: #d7d7d7;
    transition: all 0.2s ease;
}

#GoBack_btn label:hover{
    color: #ffffff;
}

.outer_box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.project_builder{
    background: #d7d7d7;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
}


.project_builder .project_content{
    color: #1a1e21;
    margin-left: 15px;
    padding-top: 5px;
    text-align: left;
    font-size: 12px;
}

.project_builder .project_content #project_title{
    font-size: 20px;
    margin: 0;
}

.project_builder .project_content #supervisor{
    color: #505052;
    margin: 0;
    padding: 0;
}

.project_builder .project_content #supervisor x{
    cursor: pointer;
    transition: all 0.25s ease;
}

.project_builder .project_content #supervisor x:hover{
    color: #1a1e21;
    text-decoration: underline;
}

.project_builder .project_content .like_star{
    position: relative;
    float: right;
    padding-top: 5px;
    margin-right: 15px;
}

.project_builder .project_content .like_star #star_checkbox{
    display: none;
}

.project_builder .project_content .like_star #star{
    cursor: pointer;
    font-size: 20px;
    color: #1a1e21;
    transition: all 0.2s ease;
}

#star_checkbox:not(:checked) ~ #star:hover{
    color: #8a3530;
}

#star_checkbox:checked ~ #star{
    color: #ff655b;
}

.project_content hr{
    background-color: #1a1e21;
    padding: 0;
    margin-left: 8%;
}

.project_builder .project_content .project_description{
    height: 250px;
    width: 370px;
    resize: none;
    background: none;
    border: none;
    outline: none;
    overflow-x: hidden;
}

.project_builder .project_content .project_keywords{
    height: 120px;
    width: 370px;
    resize: none;
    background:none;
    border: none;
    outline: none;
    overflow-x: hidden;
}

/*#slider{
    display: none;
}*/

.like_and_dislike_btn_div{
  text-align: center;
  padding-top: 20px;
}
.like_and_dislike_btn_div button{
    background-image: linear-gradient(15deg, #ff655b, #fd297b);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 30px;
}

.like_and_dislike_btn_div label{
    color: #1a1e21;
    cursor: pointer;
    height: 20px;
    width: auto;
}

#info_btn{
    z-index: 100000;
    background-color: #d7d7d7;
    color: #1a1e21;
    text-align: center;
    border: none;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    position: relative;
    float: right;
    transition: all 0.25s ease;
}

#info_btn:hover{
    background-color: #ffffff;
}

